[submodule "ryansUtils"]
	path = ryansUtils
	url = git@github.com:CodingPenguin1/Utils.git
[submodule "owensUtils"]
	path = owensUtils
	url = git@github.com:tux2603/QuickLittleUtils.git
[submodule "memoryChart"]
	path = memoryChart
	url = git@github.com:tux2603/memoryChart.git
[submodule "ryan-dotfiles"]
	path = ryan-dotfiles
	url = https://github.com/CodingPenguin1/dotfiles
